example/config.yml
example/main
example/XrayR
example/XrayR*
example/mytest
example/access.logo
example/error.log
api/chooseparser.go.bak
app/Inboundbuilder/.lego/
app/legocmd/.lego/
.vscode/launch.json
example/.lego
example/cert
./vscode
output/*
.idea/*
newV2bX.sh
.DS_Store
go_build_github_com_InazumaV_V2bX
